//fonts
$h60: 60px;
$h52: 52px;
$h48: 48px;
$h45: 45px;
$h40: 40px;
$h36: 36px;
$h35: 35px;
$h32: 32px;
$h28: 28px;
$h24: 24px;
$h16: 16px;
//font-family
$bold: "Avenir Next Cyr Bold";
$light: "Avenir Next Cyr Light";
$regular: "Avenir Next Cyr Regular";
//colors
$main-gradient: linear-gradient(63.53deg, #2d8550 16.62%, #5e6ec2 83.38%);
$black: #000000;
$white: #ffffff;
$notsodark: #8e9ad5;
$btn1_gradient: linear-gradient(266.19deg, #8049c7 0%, #ca57fd 100%);
$btn2_gradient: linear-gradient(266.19deg, #169ae4 0%, #0cc4fa 100%);
$btn3_gradient: linear-gradient( 90deg, #ffd748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #cac6ab 99.98%, #d3e9e1 99.99%);